<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE xml>
<configuration>

	<!-- Variavel para definir aonde sera salvo os logs -->
	<property name="DEV_HOME" value="./logs" />

	<!-- Envia os logs para o console -->
	<appender name="STDOUT"	class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<!-- Envia os logs para um arquivo no formato txt -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/logs.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] {%line} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/logsHistoric.%d{dd-MM-yyyy}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<!-- Define as saidas pelo pacote da aplicação -->
	<!-- Pacote de classes da aplicação -->
	<logger name="br.com.pimentel" level="info" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>